@import "tailwindcss";

@theme {
  --color-kado-main: #003844;
  --color-kado-teal: #9EE7D7;
  --color-kado-light: #DFF5F2;
  --color-kado-cream: #F4FBE0;
  --color-kado-coral: #FF6B5C;
  --color-kado-lime: #E6F45A;

  --font-jost: "Jost", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #003844;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost);
}